/* ---MOBILE SIZE ---*/
body
{
    font-family: 'Didot', serif;
	font-size: 18px;
	background-color: #f2f2f2;
}

main
{
	position: relative;
	width: 100%;
	background-color: #fff;
	overflow: hidden;
}

/* Header - Mobile */
#main-head
{
	width: 100%;
	height: auto;
	background-color: #4D6064;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
}

#logo
{
	width: 40%;
	padding: 0px 10px;
}

#logo img
{
	width: 70px;
}

#nav-button
{
	width: 40%;
	text-align: right;
	font-size: 40px;
	color: #FDD590;
	padding-right: 20px;
}

/* Navigation - Mobile */
#main-nav
{
	width: 100%;
	display: flex;
	flex-direction: column;
	text-align: center;
	margin-bottom: 15px;
	display: none;
}

#main-social
{
	order: 1;
}

#nav-menu li
{
	padding: 15px;
	font-size: 1.25em;
	order: -1;
	border-top: 1px solid white;
}

#nav-menu li a
{
	color: #fff;
}

/* Important - Mobile */
#important
{
	display: flex;
	flex-direction: column;
	text-align: center;
	font-size: 0.85em;
}

#membership, #fundraising
{
	padding: 15px 0px;
	border-bottom: 1px solid #4D6064;
	line-height: 1.125em;
}

#fundraising
{
	background-color: #e0e0e0;
}

/* Masthead - Mobile */
#masthead
{
	width: 100%;
	height: 200px;
	background-image: url(../images/banner_newsletters.jpg);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

/* Info - Mobile */
#info
{
	width: 100%;
}

#info p
{
	font-size: 0.85em;
	padding: 30px 20px;
}

/* Footer - Mobile */
#main-footer
{
	width: 100%;
	background-color: #4D6064;
	text-align: center;
	color: #FFF;
}

#suscribe
{
	padding-top: 30px;
	font-size: 0.85em;
}

input
{
	padding-top: 10px;
	width: 60%;
	background: transparent;
	border-bottom: 1px solid #FFF;
	text-align: center;
	color: #FFF;
}

#footer-nav
{
	display: none;
}

#footer-social
{
	padding-top: 30px;
	font-size: 1.5em;
}

#main-footer h3
{
	padding: 30px 0;
	font-size: 0.5em;
}

/* ---DESKTOP SIZE--- */
@media screen and (min-width: 600)
{
body
{
    font-family: 'Didot', sans-serif;
	font-size: 18px;
	background-color: #f2f2f2;
}

main
{
    width: 1024px;
	margin: 0 auto;
	background-color: #fff;
}

/***HEADER***/
#main-head
{
	width: 1024px;
	height: 124px;
    display: flex;
    flex-direction: row;
	background-color: #4D6064;
}

#logo
{
    width: 105px;
    position: relative;
    top: 12px;
	left: 50px;
}

#main-nav
{
    width: 910px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

#main-social
{
	position: relative;
	top: 24px;
	right: 50px;
}

#main-social object
{
	padding-right: 10px;
	transition: all 0.5s;
}

#main-social object svg path:hover
{
	fill: #FDD590;
}

#main-nav ul
{
    display: flex;
	flex-direction: row;
	align-items: flex-end;
	padding-right: 22px;
	position: relative;
	top: 50px;
}

#main-nav ul li a
{
	font-size: 1em;
    color: #f0f0f0;
	margin-right: 38px;
	transition: all 0.5s;
}

#main-nav ul li a:hover
{
	color: #FFD590;
}

/***IMPORTANT***/
#important
{
	width: 1024px;
	height: 80px;
	display: flex;
	flex-direction: row;
}

#important h1
{
	text-align: center;
	font-size: 1.1em;
	padding-top: 20px;
}

#important h3, #important h3 a
{
	font-family: 'Didot-Italic', serif;
	text-align: center;
	font-size: 0.9em;
	color: #000;
	padding-top: 5px;
}

#membership
{
	width: 50%;
}


#fundraising
{
	width: 50%;
	background-color: #e0e0e0;
}

#important h3 a:hover
{
	text-decoration: underline;
}

/***MASTHEAD***/
#masthead
{
	width: 1024px;
	height: 354px;
	background-image: url(../images/banner_newsletters.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	margin-bottom: 80px;
}

#masthead div
{
	width: 520px;
	height: 80px;
	background-color: #91AEBF;
	opacity: 0.8;
	border-radius: 15px;
	
	position: relative;
	top: 240px;
	left: 40px;
}

/***INFO***/
#info
{
	width: 1024px;
	margin-bottom: 80px;
}

#info p
{
	line-height: 1.5;
	padding: 0 110px;
}

/***NEWSLETTER***/
#newsletter
{
	width: 1024px;
	background-color: #404040;
	display: flex;
	flex-direction: row;
	padding: 80px 0;
}

#year
{
	color: #FFD590;
	line-height: 2.5;
	padding-left: 100px;
}

hr
{
	width: 1px;
	border: none;
	background-color: white;
}

#link
{
	line-height: 2.5;
	padding-right: 100px;
}

#link li a 
{
	color: white;
	padding-right: 20px;
}

#link li a:hover
{
	color: #FDD590;	
}

/***FOOTER***/
#main-footer
{
	width: 1024px;
	height: 330px;
	background-color: #4D6064;
}

#suscribe
{
	text-align: center;
	padding-top: 50px; 
	color: white;
}

#suscribe input
{
	width: 500px;
	padding: 10px 0 10px;
	
	background-color:rgba(0, 0, 0, 0);
	color: white;
	border-bottom: 1px solid white;
	text-align: right; 
}

#footer-nav
{
	width: 500px;
	margin: 50px auto;
}

#footer-nav ul
{
	width: 500px;
	display: inline-flex;
	flex-direction: row;
	justify-content: space-between;
}

#footer-nav ul li a
{
	color: white;
}

#footer-nav ul li a:hover
{
	color: #FFD590;
}

#footer-social
{
	width: 200px;
	margin: 0 auto;
	text-align: center;
	margin-bottom: 30px;
}

#footer-social object
{
	padding: 0 10px;
}

#main-footer h3
{
	width: 900px;
	margin: 0 auto;
	text-align: center;
	font-size: 0.7em;
	color: white;
}
}
